<?xml version="1.0"?>
<launch>
    <node pkg="tensorflow_object_detection" type="object_detection_ros.py" name="object_detection_0">
        <param name="per" type="double" value="0.3" />
        <param name="dev" type="string" value="1" />
        <remap from="/image"                  to="/camera0/color/image_raw/republish" />
        <remap from="/object_detection/image" to="/object_detection/image_0"/>
        <remap from="/objectinfo"             to="/objectinfo/0" /> 
    </node>

    <node pkg="tensorflow_object_detection" type="object_detection_ros.py" name="object_detection_1" >
        <param name="per" type="double" value="0.3" />
        <param name="dev" type="string" value="2" />
        <remap from="/image"                  to="/camera1/color/image_raw/republish" />
        <remap from="/object_detection/image" to="/object_detection/image_1"/>
        <remap from="/objectinfo"             to="/objectinfo/1" /> 
    </node>

    <node pkg="tensorflow_object_detection" type="object_detection_ros.py" name="object_detection_2" >
        <param name="per" type="double" value="0.3" />
        <param name="dev" type="string" value="2" />
        <remap from="/image"                  to="/camera2/color/image_raw/republish" />
        <remap from="/object_detection/image" to="/object_detection/image_2"/>
        <remap from="/objectinfo"             to="/objectinfo/2" /> 
    </node>
</launch>
